<div id="locations">
  <%= form_tag("/servers",  method: :post) do %>
  <h2>Server Locations</h2>
  <p>Latitude, Longitude: </p>
  <%= text_field_tag 'server1', nil, :required => true %><br/>
  <p>Latitude, Longitude: </p>
  <%= text_field_tag 'server2', nil, :required => true %><br/>
  <input type="submit" value="Submit"><br><br>
  <% end %>
</div>
