<h1>Welcome</h1>

<%= form_tag("/locations",  method: :post) do %>
  <h1>User Location</h1>
  <p>Latitude: </p>
  <%= text_field_tag 'latitude', nil, :required => true %><br/>
  <p>Longitude: </p>
  <%= text_field_tag 'longitude', nil, :required => true %><br/>
  <input type="submit" value="Submit">
<% end %>
